@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/status";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

.container {
  @apply max-w-[1320px] xl:px-0 px-4 mx-auto;
}

.largeHeading {
  @apply xl:text-[64px] lg:text-[40px] md:text-[32px] text-2xl xl:leading-[83.2px] leading-[50px] font-bold;
}

.auth-heading {
  @apply text-[#2B2B2B] text-2xl md:text-[32px] font-bold leading-normal text-center capitalize;
}

.heading {
  @apply xl:text-5xl lg:text-[40px] md:text-2xl text-xl xl:leading-[58.51px] lg:leading-[50px] font-bold;
}

.heading2 {
  @apply text-lg font-bold leading-[21.6px];
}

.description {
  @apply text-base leading-[25.6px];
}

.box-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.selectLabel {
  .ant-form-item-label {
    display: none !important;
  }
}

.status {
  clip-path: path("M112.947 8.00336L6.85383 113.652C5.99761 114.504 4.79645 114.924 3.59513 114.794C1.55795 114.573 0.00683969 112.847 0.0158421 110.798L0.482597 4.55706C0.492236 2.36313 2.26727 0.586411 4.46118 0.574686L109.521 0.0132488C111.04 0.00513254 112.432 0.857852 113.115 2.2144L113.697 3.37021C114.474 4.91444 114.172 6.7834 112.947 8.00336Z"
    );
}


// shop related styles

.ant-pagination {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: auto;
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid #D9D9D9;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #E67529;
  color: #FFFFFF;
  border: none;
}

.ant-pagination .ant-pagination-item-active a {
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: #FFFFFF;
}

.process-button {
  margin-top: 3rem;
  width: 100%;
  transition: transform 0.3s;
  background-color: white;
  color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #E67529;
}

.process-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
  border: none;
}

.card-button {
  padding: 16px 32px;
  transition: transform 0.3s;
  background-color: white;
  color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #E67529;
}

.card-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
  border: none;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:hover {
  border-color: #534C4C;
  box-shadow: none;
}

.product-button {
  border-radius: 0.25rem;
  background-color: white;
  font-size: 16px;
  transition: transform 0.3s;
  font-weight: 500;
  color: #2B2B2B;
  border: 0.5px solid #E67529;
}

.product-button:hover {
  background-color: #E67529;
  transform: scale(1.05);
  color: white;
}

.share-button {
  color: #2B2B2B;
  height: 40px;
  width: 40px;
  transition: transform 0.3s;
  border-radius: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  fill: #FFF;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.10));
}

.share-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: #E67529;
}

.description {
  color: #534C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: justify;
}

.shop-heading {
  color: #2B2B2B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.product-heading {
  color: #2B2B2B;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

// form input label styles
.ant-row {
  display: block;
}

.ant-form-item .ant-form-item-label {
  text-align: left;
  padding-bottom: 8px;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  line-height: 1;
  content: "*";
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "";
}

.ant-form-item .ant-form-item-label>label {
  color: #2B2B2B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #E67529;
  background-color: #E67529;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #E67529 !important;
}


// .ant-radio-wrapper:hover .ant-radio-inner {
//   border-color: red !important;
// }

// .ant-radio-wrapper:hover .ant-radio-inner::after {
//   background-color: red !important;
// }

// .ant-radio-inner {
//   border-color: red !important; /* Default border color */
// }

// .ant-radio-wrapper:hover {
//   color: red !important; /* Change text color on hover */
// }

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #E67529;
  background-color: #E67529;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #E67529 !important;
  background-color: #E67529 !important;
}

.auth-button {
  border-radius: 4px;
  margin-top: 34px;
  border: 0.5px solid #E67529;
  width: 100%;
  background-color: #FF4E2508;
  transition: transform 0.3s;
}

.auth-button:hover {
  width: 100%;
  transform: scale(1.05);
  background-color: #E67529;
  color: #FFFFFF;
}

// otp input remove bg and border
.ant-input-number {
  background-color: #FF4E2508 !important;
  color: inherit;
}

.ant-input-number {
  border-color: #E67529 !important;
}

.shop-button {
  color: #E67529;
  background-color: white;
  border: 1px solid #E67529;
  border-radius: 4px;
  padding: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.hop-button:hover {
  background-color: #E67529;
  color: white;
}

// alert button used in shop card 
.alertButton {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px 32px;
  color: #2B2B2B;
  border-radius: 4px;
  font-size: 16px;
  border: 0.5px solid #E67529;
  transition: transform 0.3s;

}

.alertButton:hover {
  transform: scale(1.05);
  background-color: #E67529;
  color: white;
}